:root {
  --background-color: #0f172a;
  --project-background-color: #1e293b;
  /* Text-color */
  --text-color-primary: #f8fafc;
  --text-color-secondary: #cbd5e1;
  --text-color-tertiary: #9ca3af;

  /* Gradient */
  --text-color-primary-gradient: #22d3ed;
  --text-color-secondary-gradient: #0ea5e9;

  --green-color-primary-gradient: #10b981;
  --green-color-secondary-gradient: #bef264;

  /* font */
  --font-family: "Roboto", sans-serif;
  --font-weight: 400;
  --font-style: normal;

  /* shadow */
  --light-shadow: 0 5px 15px rgba(63, 71, 163, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* transition */
  --transition: all 0.3s linear;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  background-color: var(--background-color);
  color: var(--text-color-primary);
}

/* main {
  
} */

.icon-image {
  height: 2em;
}

/* Laptop Screen */

/* Header Styling */

header,
.hero__section,
.project__section {
  padding: 1em 5.7em;
}

.nav-center {
  /* max-width: 1170px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem; */
}

.nav-header {
  padding: 0;
}

.nav-toggle {
  display: none;
}

.links {
  height: auto;
  display: flex;
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--text-color-primary);
  font-weight: 700;
  line-height: 1.9;
  font-size: 1.1rem;
}

.links a {
  padding: 0;
  margin: 0 1em;
  list-style: none;
}

.links a:hover {
  color: var(--text-color-primary-gradient);
}

/* Hero Section Styling */

.hero__section {
  width: 100%;
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.hero__h1,
.project__h1 {
  font-size: 2rem;
  font-weight: 700;
}

.text-blue {
  background: linear-gradient(
    to left,
    var(--text-color-primary-gradient),
    var(--text-color-secondary-gradient)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* font-weight: inherit; */
}

.hero__p {
  font-weight: 500;
  color: var(--text-color-secondary);
  line-height: 1.7;
  letter-spacing: 0.4px;
  /* width: 49ch; */
}

.hero__socialIcons {
  display: flex;
}

.social-icons {
  width: 150px;
  height: 150px;
  margin-left: -3.5em;
}

.hero__illu {
  width: 300px;
  height: 300px;
}

/* Project Section Styling */

.project__div {
  background-color: var(--project-background-color);
  margin-top: 6em;
  padding: 0.7em;
  border-radius: 10px;
  display: flex;
  gap: 3em;
  align-items: center;
}

.project__illu-one {
  width: 200px;
  height: auto;
  /* height: 300px; */
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.8em;
}

.green-img {
  height: 28px;
}

.project__p {
  line-height: 1.6;
  color: var(--text-color-secondary);
}

/* Mobile View */

@media screen and (max-width: 768px) {
  header {
    padding: 0.5em 0em;
    background: var(--background-color);
    box-shadow: var(--light-shadow);
  }

  .nav-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }

  .nav-toggle {
    display: block;
    font-size: 1.5rem;
    color: var(--text-color-primary);
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
  }

  .links a {
    display: block;
    transition: var(--transition);
  }

  .links a:hover {
    color: var(--text-color-primary-gradient);
    padding-left: 1.5em;
  }

  .links {
    /* z-index: 50; */
    background: #1e293b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;

    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }

  .close {
    display: none;
  }

  /* The toggle */
  .show-links {
    height: 10em;
  }

  .hero__section {
    width: 100%;
    margin-top: 2em;
    padding: 1em;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .hero__text {
    width: 98%;
  }

  .hero__p br,
  .project__p br {
    display: none;
  }
  /* Project Section Styling */
  .project__section {
    padding: 1em;
  }

  .project__div {
    margin-top: 4em;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
}
